    

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
         background-color: #DDC9D3;
       
        
}

    li {
         list-style-type: none;
         justify-content: space-around;
         font-family: 'Open Sans';
   }
    h1 {
        color: #645853;
        font-family: 'Josefin Sans';
        line-height:9px;
        margin:18px;
}
   a:hover {
  color: #CC1212;
  font-style:italic;
}

a {
  color:#1E3D00;
  font-size:2.1em;
 
}
