    body {
         background-color: #DDC9D3;
        margin: auto;
}

    li {
         list-style-type: none;
         justify-content: space-around;
         margin: auto;
   }
    header {
        color: #645853;
        font-family: 'Josefin Sans';
        line-height:9px;
        margin:18px;
}
